<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newhollandpress.apicture"
    android:versionCode="19"
    android:versionName="19.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.newhollandpress.apicture.CameraDemo"
            android:enabled="true"
            android:exported="true"
            android:launchMode="standard" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.newhollandpress.apicture.ShowPicture"
            android:enabled="true"
            android:exported="true"
            android:launchMode="standard" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.newhollandpress.apicture.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>